<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Portifolio</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/eu/eu2.jpg" alt="Foto do João">
            <h1>João Pedro</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/jo%C3%A3o-pedro-dos-reis-neves-a5967b157/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/jpedrodosreis">
                    <i class="bi bi-github"></i>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house" aria-hidden="true"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person" aria-hidden="true"></i>Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check" aria-hidden="true"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark" aria-hidden="true"></i>Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio">
                        <i class="bi bi-collection" aria-hidden="true"></i>Portifolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope" aria-hidden="true"></i>Contatos</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">João Pedro</h2>
                <span id="subtitle" class="text-white text-shadow">Técnico de Enfermagem e Programador Junior</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>
        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">sobre</h2>
                    <p>Olá me chamo João Pedro tenho 29 anos,
                        sou graduado em Análise e Desenvolvimento de Sistemas na instituição Estácio de Sá,
                        Técnico de Enfermagem, pela instituição Santa Casa de BH,
                        instrumentador Cirúrgico pela instituição Síntese.
                        Tenho amplo conhecimento em Centro Cirúrgico, CME, e área de informática num geral,
                        com ênfase em Front-end, Back-end, Redes de computadores, IOT,
                        Montagem e manutenção de computadores, entre outros.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/eu/eu2.jpg" 
                        alt="minha foto" data-anime="left"
                    />
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Programador Junior</h3>
                    <p>Desenvolvedor Junior em busca de uma colocação no mercado de trabalho,
                        no qual tenho maior desenvolvimento em Front-End.
                    </p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Idade: <span class="fs-6">29 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fs-6">Ribeirão das Neves</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fs-6">Minas Gerais</span>
                                </li>
                                <li class="list-group-item">
                                    Hobby: <span class="fs-6">Estudar</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Front-End: <span class="fs-6">HTML5, CSS3, Javascript</span>
                                </li>
                                <li class="list-group-item">
                                    Frameworks: <span class="fs-6">Bootstrap, Tailwind, React.js</span>
                                </li>
                                <li class="list-group-item">
                                    Versionamento: <span class="fs-6">Git, GitHub</span>
                                </li>
                                <li class="list-group-item">
                                    Back-end: <span class="fs-6">JAVA, PHP, Python</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>Alem de Programador Junior, sou Técnico de Enfermagem e Instrumentador Cirurgico,
                        atuando em hospitais e residências para cuidados e procedimentos de enfermagem.</p>
                </div>
            </div>
        </section>
        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri
                    algumas habilidades tècnicas e não técnicas,
                    a maioria delas estão aqui, de acordo com a procentagem de
                    conhecimento que eu acredito ter em cada
                    uma delas.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%" data-anime="left">70%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%" data-anime="left">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Javascript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%" data-anime="left">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
                        </div>
                        <p class="mt-3 mb-0">JAVA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%" data-anime="left">70%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%" data-anime="left">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Tailwind</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
                        </div>
                        <p class="mt-3 mb-0">React.js</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
                        </div>
                        <p class="mt-3 mb-0">PHP</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
                        </div>
                        <p class="mt-3 mb-0">PostgreSQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
                        </div>
                        <p class="mt-3 mb-0">C++</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%" data-anime="left">30%</div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em Equipe</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%" data-anime="left">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%" data-anime="left">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%" data-anime="left">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%" data-anime="left">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%" data-anime="left">98%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item"  data-anime="up">
                            <h4>Analise e Desenvolvimento de Sistemas</h4>
                            <h5>2021 - 2023</h5>
                            <p><em>Estácio de Sá</em></p>
                            <p>Graduação na area de analise de dados, e desenvolvimento de sistemas web e softwares,
                                programação. </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Instrumentador Cirurgico</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Escola Profissionalizante Sintese</em></p>
                            <p>Curso profissionalizante com enfase em cirurgias gerais e ortopedicas.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Técnico de Enfermagem</h4>
                            <h5>2015 - 2017</h5>
                            <p><em>Santa Casa de Belo Horizonte</em></p>
                            <p>Cruso Técnico realizado pelo Hospital Santa Casa de Belo Horizonte,
                                com estagio nes setores: Centro Cirurgico, Bloco Obistetrico, CME,
                                Unidade de Internação, CTI adulto e Neo-natal.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Hospital Felicio Rocho</h4>
                            <h5>2023 - 2023</h5>
                            <p><em>Técnico de Enfermagem Centro Cirurgico</em></p>
                            <p>Desenvolvi trabalho temporário no centro cirúrgico como técnico de vídeo,
                                responsável pela entrega, lavagem, embalagem, e acondicionamento dos materiais,
                                conservação dos materiais e torres de vídeo bem como encaminha-los a manutenção
                                quando necessário.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Hospital Life Center</h4>
                            <h5>2019 - 2023</h5>
                            <p><em>Técnico de Engermagem Centro Cirurgico</em></p>
                            <p>Desenvolvi trabalho no setor de CME com foco em OPME e consignados,
                                realizando todo o processo de lavagem, secagem, embalagem, montagem de carga,
                                esterilização, acondicionamento e dispensação, utilizado sistema tasy,
                                transferido para o centro cirúrgico, realizado troca dos pacientes,
                                montagem de sala cirúrgica, auxilio para a equipe medica durante a cirúrgica,
                                cuidados com o paciente no pó cirúrgico, entre outros.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Home Care Cuidar</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Técnico de Enfermagem Home Care</em></p>
                            <p>Cuidados com GTT, TQT, dieta, hidratação, realização de curativo,
                                aspiração de vias aerias, cuidados com SVD, auxilio em SVA higiene corporal,
                                exercícios motores e exercícios de dicção, medicação VO, SC, IM, EV.
                            </p>
                        </div>
                    </div>
                </div>
        </section>
        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portifolio</h2>
                <div id="carrouselPortifoio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carrouselPortifoio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carrouselPortifoio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/logos/html.jpg" class="card-img-top" alt="Projeto html">
                                        <div class="card-body">
                                            <h5 class="card-title">Card Html</h5>
                                            <p class="card-text">Local da descrição do Projeto.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://getbootstrap.com/docs/5.3/components/card/"
                                                    target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/logos/css.jpg" class="card-img-top" alt="Projeto html">
                                        <div class="card-body">
                                            <h5 class="card-title">Card CSS</h5>
                                            <p class="card-text">Local da descrição do Projeto.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://getbootstrap.com/docs/5.3/components/card/"
                                                    target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/logos/js.jpg" class="card-img-top" alt="Projeto html">
                                        <div class="card-body">
                                            <h5 class="card-title">Card Javascript</h5>
                                            <p class="card-text">Local da descrição do Projeto.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://getbootstrap.com/docs/5.3/components/card/"
                                                    target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/logos/bootstrap.jpg" class="card-img-top" alt="Projeto html">
                                        <div class="card-body">
                                            <h5 class="card-title">Card Bootstrap</h5>
                                            <p class="card-text">Local da descrição do Projeto.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://getbootstrap.com/docs/5.3/components/card/"
                                                    target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/logos/c++.jpg" class="card-img-top" alt="Projeto html">
                                        <div class="card-body">
                                            <h5 class="card-title">Card C++</h5>
                                            <p class="card-text">Local da descrição do Projeto.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://getbootstrap.com/docs/5.3/components/card/"
                                                    target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/logos/java.jpg" class="card-img-top" alt="Projeto html">
                                        <div class="card-body">
                                            <h5 class="card-title">Card Java</h5>
                                            <p class="card-text">Local da descrição do Projeto.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://getbootstrap.com/docs/5.3/components/card/"
                                                    target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carrouselPortifoio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carrouselPortifoio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="pt-5 bp-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contatos</h2>
                <div class="row">
                    <div class="col md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização</h4>
                                <p>Ribeirão das Neves, MG</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>Email</h4>
                                <p>jprn.dev@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3754.028494387497!2d-44.077479924119565!3d-19.79638918156218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6929f1c9ec7db%3A0x320ea1ccb105b91f!2sR.%20Trinta%20e%20Sete%2C%2081%20-%20S%C3%A3o%20Luiz%2C%20Ribeir%C3%A3o%20das%20Neves%20-%20MG%2C%2033882-215!5e0!3m2!1spt-BR!2sbr!4v1699050137378!5m2!1spt-BR!2sbr" 
                                width="400" height="300" style="border:0;" 
                                allowfullscreen="" loading="lazy" 
                                referrerpolicy="no-referrer-when-downgrade" 
                                class="w-100">
                            </iframe>
                        </div>
                    </div>
                    <div class="col md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome"
                                  placeholder="Digite seu nome">
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" name="email"
                                  placeholder="Digite seu e-mail">
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" 
                                  id="mensagem" name="mensagem" rows="10"
                                  placeholder="Digite sua mensagem"></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>